*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, black, rgb(1, 74, 1));
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 350px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
h1{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(67, 159, 67);
}
button{
    height: 2rem;
    width: 80%;
    color: black;
    border-radius: 1rem;
}
input{
    height: 2rem;
    width: 80%;
    border: none;
    border-radius: 1rem;
    outline: none;
}